$green-bg: rgb(106, 245, 67);
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(225, 228, 228);
}
.header {
  background-color: black;
  color: aliceblue;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 4rem;
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  
}
