.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgb(153, 153, 153);
  border-radius: 10px;
  padding: 2rem 3rem;
  font-size: 1.5rem;
  .label {
    font-weight: bold;
  }
}
@media screen and (max-width: 1000px) {
  .card {
    width: 80%;
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 90%;
    font-size: 0.8rem;
  }
}
